<div class="body-container">
  <div class="card m-0 w-100">
    <div class="pattern-title">
      <h2 class="card-title mx-auto text-center"><%= @customised_instruction.order.pattern.title %> with notes</h2>
      <h4 class="card-title mx-auto text-center"><%= @customised_instruction.name %></h2>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if @category == nil %>
            All
          <% else %>
            <%= @category %>
          <% end %>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "All", customised_instruction_steps_path, class: "dropdown-item" %>
          </li>
          <% @categories.each do |category| %>
            <li>
              <%= link_to category, customised_instruction_steps_path(@customised_instruction, category: category), class: "dropdown-item" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row d-flex justify-content-center main-container min-vh-100" data-controller="show-patterns">
      <div class="col d-flex justify-content-center">
        <div id="carouselExampleControls" class="carousel slide w-100">
          <div class="carousel-inner">
            <% @customised_instruction_steps.each_with_index do |instruction, index| %>
              <% if instruction.position == @step || (@step == 1 && index == 0) %>
                <div class="carousel-item active">
                  <div class="position-header">
                    <h5>Step <%= index + 1 %> of <%= @customised_instruction_steps.length %></h5>
                  </div>
                  <%= cl_image_tag instruction.instruction.image.key,
                      class: "d-block mx-auto carousel-image",
                      height: 800,
                      width: 500,
                      crop: :fit %>
                  <div class="step-description"><%= instruction.instruction.description %></div>

                  <%# <% if instruction.comment %> %>
                    <div class="step-comment"><%=instruction.comment%></div>
                  <%# <% else %> %>
                    <%= render partial: "step_comment", locals: { customised_instruction_step: instruction }%>
                  <%# <% end %> %>

                </div>
              <% else %>
                <div class="carousel-item">
                  <div class="position-header">
                    <h5>Step <%= index + 1 %> of <%= @customised_instruction_steps.length %></h5>
                  </div>
                  <%= cl_image_tag instruction.instruction.image.key,
                      class: "d-block mx-auto carousel-image",
                      height: 800,
                      width: 500,
                      crop: :fit %>
                  <div class="step-description"><%= instruction.instruction.description %></div>
                  <%# <% if instruction.comment %> %>
                    <div class="step-comment"><%=instruction.comment%></div>
                  <%# <% else %> %>
                    <%= render partial: "step_comment", locals: {customised_instruction_step: instruction }%>
                  <%# <% end %> %>
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <i class="fa-solid fa-circle-chevron-left"></i>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <i class="fa-solid fa-circle-chevron-right"></i>
          </button>


    </div>
  </div>
</div>
