<div style="max-width: 800px; margin: 0 auto">
  <h2> Customising instructions <h2>
  <%= render "shared/pattern_bar", pattern: @customised_instruction.order.pattern %>
  <h3> Select the sections you want</h3>
  <div class="accordion">
    <% @customised_instruction.custom_categories.each_with_index do |category, index| %>
      <div class="d-flex justify-content-between align-items-center">
        <%= turbo_frame_tag dom_id(category) do %>
          <div class="p-3">
            <%= link_to custom_category_path(category, custom_category: { showing: !category.showing }),
                            data: {
                              turbo_method: :patch
                            } do %>
              <% if category.showing? %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="width: 25px; height: 25px">
                  <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                </svg>
              <% else %>
                <span style="display: inline-block; border-radius: 50%; height: 25px; width: 25px; background: #d6d6d6;"></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <h3 class="text-center accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#category<%=index%>" role="button" aria-expanded="false" aria-controls="category<%=index%>">
          <%= category.name %>
        </h3>
      </div>
      <div class="collapse accordion-collapse" id="category<%=index%>">
        <h3 class="text-center"> <%= category.customised_instruction_steps.length %> steps </h3>
        <div class="d-flex flex-wrap justify-content-center"  data-controller="popover">
          <% category.customised_instruction_steps.each do |step| %>
            <div class="list-group-item d-flex flex-row align-items-center">
              <div class="m-2">
                <%= cl_image_tag step.instruction.image.key,
                    class: "instruction-thumbnail"
                %>
              </div>
              <div>
                <%= step.instruction.description[0..40] %>...
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-around">
    <%=
        link_to "Cancel", customised_instruction_path(@customised_instruction),
        method: :delete,
        class: "btn btn-outline-dark",
        data: {turbo_method: :delete, turbo_confirm: "Cancel customising instructions?"}
      %>
    <%=
      link_to "Confirm", customised_instruction_path(@customised_instruction),
      class: "btn btn-outline-dark"
    %>
  </div>
</div>
