<div class="body-container">
  <div class="card m-0 w-100">
    <div class="card each-card" style="width: 19rem">
      <%= cl_image_tag @customised_instruction.order.pattern.image[0].key, class: 'card-img-top img-top' %>
      <div class="card-body">
        <li class="list-group-item"><strong>Title: </strong>  <%= @customised_instruction.order.pattern.title %></li>
      </div>
    </div>
    <h3 class="text-center"> New Category </h3>

    <% @customised_instruction_steps_by_category.each do |category|%>
      <% if category.showing %>
        <h3 class="text-center"> <%= category.name %> </h3>
        <h3 class="text-center"> <%= category.customised_instruction_steps.length %> steps </h3>
        <div class="d-flex flex-wrap justify-content-center" data-controller="popover">
          <% category.customised_instruction_steps.each do |step| %>
            <div class="d-flex flex-row card m-1" style="width: 100%;">
              <%= link_to customised_instruction_path(@customised_instruction, step: step.position) do %>
                <%= cl_image_tag step.instruction.image.key,
                            class: "card-img-top img-top",
                            height: 150,
                            width: 150,
                            crop: :fit %>
              <% end %>
              <ul class = "list-group">
                  <li class="list-group-item"><%= step.instruction.description[0..100] %>...</li>
              </ul>
              <%=
                render partial: 'shared/step_category',
                locals: {
                  customised_instruction_step: step,
                  categories: @customised_instruction_steps_by_category
                }
              %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%# class="max-w-sm rounded shadow-lg bg-white absolute left-0" %>
