<div class="body-container">
  <div class="card m-0 w-100">
    <div class="pattern-title">
      <h2 class="card-title mx-auto text-center"><%= @customised_instruction.order.pattern.title %></h2>
    </div>
    <%=  %>
    <% @customised_instruction_steps_by_category.each_key do |key|%>
      <h3> <%= key %> </h3>
      <div class="d-flex flex-wrap justify-content-center" data-controller="popover">
        <% @customised_instruction_steps_by_category[key].each do |customised_instruction| %>
          <div class="card m-1" style="width: 10rem;">
            <%= link_to customised_instruction_steps_path(@customised_instruction, step: customised_instruction.position) do %>
              <%= cl_image_tag customised_instruction.instruction.image.key,
                          class: "card-img-top img-top instructions-thumbnail",
                          height: 300,
                          crop: :fit %>
              <ul class = "list-group">
                <li class="list-group-item"><%= customised_instruction.instruction.description[0..26] %>...</li>
              </ul>
            <% end %>
            <%=
              render partial: 'shared/step_category',
              locals: {
                customised_instruction_step: customised_instruction,
                categories: @customised_instruction_steps_by_category.keys
              }
            %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%# class="max-w-sm rounded shadow-lg bg-white absolute left-0" %>
