<div class="instructions-container">
  <div class="m-0 w-100">

    <div class="pattern-title">
      <h2 class="card-title mx-auto text-center"><%= @customised_instruction.name %> </h2>
      <%= render "shared/pattern_bar", pattern: @customised_instruction.order.pattern %>
    </div>

    <div class="accordion accordion-flush">
      <div class="d-flex justify-content-around">
        <%= link_to "Back", pattern_instructions_path(@customised_instruction.order.pattern), class: "btn btn-outline-dark" %>
        <%= link_to "Show instructions", customised_instruction_steps_path(@customised_instruction), class: "btn btn-outline-dark" %>
      </div>
      <% @customised_instruction_steps_by_category.each_with_index do |category, index|%>
        <% if category.showing %>
          <div class="accordion-item">
            <div class="accordion-header">
              <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#category<%=index%>" role="button" aria-expanded="false" aria-controls="category<%=index%>">
                <h3 class="mb-0">
                  <%= category.name %> (<%= category.customised_instruction_steps.length %> steps)
                </h3>
              </div>
            </div>
            <div class="collapse accordion-collapse"  id="category<%=index%>">
              <div class="list-group list-group-flush">
                <% category.customised_instruction_steps.each do |step| %>
                    <div class="list-group-item d-flex flex-row align-items-center">
                      <div class="m-2">
                        <%= cl_image_tag step.instruction.image.key,
                                    class: "instruction-thumbnail" %>
                      </div>
                      <div>
                          <%= step.instruction.description[0..40] %>...
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
