<div class="instructions-container">
  <div class="m-0 w-100">

    <div class="pattern-title">
      <h2 class="card-title mx-auto text-center">Customised instructions</h2>
      <%= cl_image_tag @customised_instruction.order.pattern.image[0].key, class: 'card-img-top img-top' %>
      <h2 class="card-title mx-auto text-center"><%= @customised_instruction.order.pattern.title %></h2>
    </div>

    <div class="accordion accordion-flush">
      <h3 class="mt-4 mb-1 text-center"> Sections </h3>
      <% @customised_instruction_steps_by_category.each_with_index do |category, index|%>
        <% if category.showing %>
          <div class="accordion-item">
            <div class="accordion-header">
              <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#category<%=index%>" role="button" aria-expanded="false" aria-controls="category<%=index%>">
                <h3 class="mb-0">
                  <%= category.name %> (<%= category.customised_instruction_steps.length %> steps)
                </h3>
              </div>
            </div>
            <div class="collapse accordion-collapse"  id="category<%=index%>">
              <div class="list-group list-group-flush">
                <% category.customised_instruction_steps.each do |step| %>
                  <%= link_to customised_instruction_steps_path(@customised_instruction, step: step.position, category_position: category.position) do %>
                    <div class="list-group-item d-flex flex-row align-items-center">
                      <div class="m-2">
                        <%= cl_image_tag step.instruction.image.key,
                                    class: "instruction-thumbnail" %>
                      </div>
                      <div>
                          <%= step.instruction.description[0..40] %>...
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
