<link href="app/assets/stylesheets/patterns/_show.scss" rel="stylesheet">
<link href="app/assets/stylesheets/patterns/_index.scss" rel="stylesheet">


<div class="container px-4 py-5">
  <h1><%= current_user.username %> Dashboard</h1>

</div>
  <ul class = "list-group">
    <div class="container">
  <h2 class="pb-2 border-bottom">Your Patterns for sale <%= link_to 'Add a new Pattern', new_pattern_path, class: , class: "btn btn-outline-dark" %></h2>
        <div class="d-flex justify-content-between flex-wrap">

          <% @patterns_for_sale.each do |pattern| %>
            <div class="card each-card" style="width: 19rem">
              <%= cl_image_tag pattern.image[0].key, class: 'card-img-top img-top' %>
              <div class="card-body">
                <div class="card-row">
                  <p><strong>Title: </strong>  <%= pattern.title %></p>
                </div>
                <div class="card-row">
                <div class = "icon-row">
                  <% if pattern.difficulty == "Easy" %>
                  <i class="difficulty-icon"></i>
                  <i class="difficulty-icon-light"></i>
                  <i class="difficulty-icon-light"></i>
                  <% elsif pattern.difficulty == "Medium" %>
                  <i class="difficulty-icon"></i><i class="difficulty-icon"></i>
                  <i class="difficulty-icon-light"></i>
                  <% elsif pattern.difficulty == "Hard" %>
                  <i class="difficulty-icon"></i><i class="difficulty-icon"></i><i class="difficulty-icon"></i>
                  <% end %>
                  </div>
                  <div class = "icon-row">
                    <i class="interactive-icon"></i></i><i class="print-icon"></i>
                  </div>
                </div>
                            <div>
              <p class="card-text"><strong>Description: </strong> <%= pattern.description[0..30] %></p>
            </div>
                <div class="card-row">
                 <p class="card-text"><strong>Price: </strong>$<%= pattern.price %></p>
                </div>
                <%= link_to 'Go to pattern', pattern_path(pattern) , class: 'btn btn-outline-dark bottom-link-index' %>
                <%# <%= link_to 'More info', pattern , class: 'btn btn-outline-dark bottom-link-index' %>
                <%= link_to 'delete', pattern_path(pattern), data: { turbo_confirm: 'Are you sure', turbo_method: :delete }, class: 'btn btn-outline-danger bottom-link-index' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </ul>



</div>

<br>
</div class="dashboard-container">
  <ul class = "list-group">
    <div class="container">
  <h2 class="pb-2 border-bottom">Patterns you purchased</h2>
        <div class="d-flex justify-content-between flex-wrap">

          <% @orders.each do |order| %>
            <div class="card each-card-dashboard" style="width: 19rem">
              <%= cl_image_tag order.pattern.image[0].key, class: 'card-img-top img-top-dashboard' %>
              <div class="card-body">
                <div class="card-row">
                  <p><strong>Title: </strong>  <%= order.pattern.title %></p>
                </div>
                <div class="card-row">
                <div class = "icon-row">
                  <% if order.pattern.difficulty == "Easy" %>
                  <i class="difficulty-icon"></i>
                  <i class="difficulty-icon-light"></i>
                  <i class="difficulty-icon-light"></i>
                  <% elsif order.pattern.difficulty == "Medium" %>
                  <i class="difficulty-icon"></i><i class="difficulty-icon"></i>
                  <i class="difficulty-icon-light"></i>
                  <% elsif order.pattern.difficulty == "Hard" %>
                  <i class="difficulty-icon"></i><i class="difficulty-icon"></i><i class="difficulty-icon"></i>
                  <% end %>
                  </div>
                  <div class = "icon-row">
                    <i class="interactive-icon"></i></i><i class="print-icon"></i>
                  </div>
                </div>
                            <div>
              <p class="card-text"><strong>Description: </strong> <%= order.pattern.description[0..30] %></p>
            </div>
                <div class="card-row">
                 <p class="card-text"><strong>Price: </strong>$<%= order.pattern.price %></p>
                </div>
                <%= link_to 'Go to pattern', pattern_path(order.pattern) , class: 'btn btn-outline-dark bottom-link-index' %>
                <%# <%= link_to 'More info', pattern , class: 'btn btn-outline-dark bottom-link-index' %>

              </div>
            </div>
          <% end %>
        </div>
      </div>
  </ul>
</div>


</div>
