<div class="index-patterns">

<div class="container-fluid">
    <%= form_with url: patterns_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Eg. dress"
    %>
    <%= submit_tag "Search", class: "btn btn-outline-dark" %>
  <% end %>
</div>
  <ul class = "list-group">
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap">
          <% @patterns.each do |pattern| %>
            <div class="card each-card" style="width: 25rem">
              <%= cl_image_tag pattern.image[0].key, class: 'card-img-top img-top' %>
              <div class="card-body">
                <div class="card-row">
                  <p><strong>Title: </strong>  <%= pattern.title %></p>
                </div>
                <div class="card-row">
                <div class = "icon-row">
                  <% if pattern.difficulty == "Easy" %>
                  <i class="difficulty-icon"></i>
                  <i class="difficulty-icon-light"></i>
                  <i class="difficulty-icon-light"></i>
                  <% elsif pattern.difficulty == "Medium" %>
                  <i class="difficulty-icon"></i><i class="difficulty-icon"></i>
                  <i class="difficulty-icon-light"></i>
                  <% elsif pattern.difficulty == "Hard" %>
                  <i class="difficulty-icon"></i><i class="difficulty-icon"></i><i class="difficulty-icon"></i>
                  <% end %>
                  </div>
                  <div class = "icon-row">
                    <i class="interactive-icon"></i></i><i class="print-icon"></i>
                  </div>
                </div>
                <div class="card-row">
                  <p><strong>Price: </strong>  $<%= pattern.price %></p>
                </div>
                <%= link_to 'More info', pattern , class: 'btn btn-outline-dark bottom-link-index' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </ul>



</div>
