<div class="index-patterns">
  <h1 class = "text-center heading">Available Patterns</h1>


  <%= form_with url: patterns_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a pattern"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  <ul class = "list-group">
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap">
          <% @patterns.each do |pattern| %>
            <div class="card each-card" style="width: 19rem">
              <% @pattern.photos.each_with_index do |image, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
                <%= cl_image_tag image.key,
                    class: "d-block mx-auto carousel-image",
                    height: 400,
                    width: 500,
                    crop: :fit %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= cl_image_tag image.key,
                    class: "d-block mx-auto carousel-image",
                    height: 400,
                    width: 500,
                    crop: :fit %>
              </div>
            <% end %>
          <% end %>
              <div class="card-body">
                <li class="list-group-item"><strong>Title: </strong>  <%= pattern.title %></li>
                <li class="list-group-item"><strong>Price: </strong>  $<%= pattern.price %></li>
                <%= link_to 'More info', pattern , class: 'btn btn-primary  bottom-link-index' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </ul>



</div>
