<div class="index-patterns">
  <h1 class = "text-center heading">Available Patterns</h1>


  <%= form_with url: patterns_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "dress"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  <ul class = "list-group">
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap">
          <% @patterns.each do |pattern| %>
            <div class="card each-card" style="width: 19rem">
              <%= cl_image_tag pattern.image[0].key, class: 'card-img-top img-top' %>
              <div class="card-body">
                <li class="list-group-item"><strong>Title: </strong>  <%= pattern.title %></li>
                <li class="list-group-item"><strong>Price: </strong>  $<%= pattern.price %></li>
                <%= link_to 'More info', pattern , class: 'btn btn-primary  bottom-link-index' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </ul>



</div>
