<div class="body-container">
  <div class="card m-0 w-100">
    <% if @order %>
      <div class="pattern-title">
        <h2 class="card-title mx-auto text-center"><%= @pattern.title %></h2>
      </div>

      <div>
        <div class="pattern-title">
          <h2 class="card-title mx-auto text-center">Customise instructions</h2>
        </div>
        <%= simple_form_for [@order, @customised_instruction] do |f| %>
          <%= f.input :name %>
          <%= f.submit "Make an editable copy", class: "btn btn-primary" %>
        <% end %>

        <div class="d-flex flex-wrap justify-content-center">
          <% @order.customised_instructions.each do |customised_instruction|%>
            <%= link_to customised_instruction_path(customised_instruction) do%>
              <div class="card m-1" style="width: 10rem;"> customised_instruction.name </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-center">
        <% @instructions.each do |instruction|%>
          <%= link_to pattern_steps_path(step: instruction.position) do %>
            <div class="card m-1" style="width: 10rem;">
              <%= cl_image_tag instruction.image.key,
                          class: "card-img-top img-top instructions-thumbnail",
                          height: 300,
                          crop: :fit %>
              <ul class = "list-group">
                <li class="list-group-item"><%= instruction.description[0..26] %>...</li>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="pattern-title">
        You need to purchase this pattern in order to see the instructions
      </div>
    <% end %>
  </div>
</div>
