<div class="body-container">
  <div class="card m-0 w-100">
    <div class="pattern-title">
      <h2 class="card-title mx-auto text-center"><%= @pattern.title %></h2>
    </div>
    <div class="row d-flex justify-content-center main-container" data-controller="show-patterns">
      <div class="col d-flex justify-content-center">
        <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @instructions.each_with_index do |instruction, index| %>

              <% if index == 0 %>
                <div class="carousel-item active">
                  <%= cl_image_tag instruction.image.key,
                      class: "d-block mx-auto carousel-image",
                      height: 400,
                      width: 500,
                      crop: :fit %>
                  <h5><%= instruction.position %></h5>
                  <%= instruction.description %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= cl_image_tag instruction.image.key,
                      class: "d-block mx-auto carousel-image",
                      height: 400,
                      width: 500,
                      crop: :fit %>
                  <h5><%= instruction.position %></h5>
                  <%= instruction.description %>
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <i class="fa-solid fa-circle-chevron-left"></i>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <i class="fa-solid fa-circle-chevron-right"></i>
          </button>
    </div>
  </div>
</div>
