<div class="instructions-container">
  <div class="m-0 w-100">
    <% if @order %>
      <div class="pattern-title">
        <h2 class="card-title mx-auto text-center">Interactive instructions</h2>
          <%= render "shared/pattern_bar", pattern: @pattern %>
      </div>
      <div class="d-flex justify-content-around">
        <%= link_to "Back", pattern_steps_path(@pattern), class:"btn btn-outline-dark" %>
        <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCopies" aria-expanded="false" aria-controls="collapseCopies">
          Your copies
        </button>
        <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Create instructions
        </button>
      </div>
      <div class="collapse" id="collapseCopies">
        <div class="list-group list-group-flush">
            <li class="list-group-item"> <h5>Your copies</h5> </li>
            <% @order.customised_instructions.each do |customised_instruction|%>
              <%= link_to customised_instruction_path(customised_instruction) do%>
                <li class="list-group-item d-flex justify-content-between">
                  <%=customised_instruction.name%>
                  <%=
                    link_to customised_instruction_path(customised_instruction),
                    method: :delete,
                    data: {turbo_method: :delete, turbo_confirm: "Cancel customising instructions?"} do
                  %>
                  <i class="trashcan-icon"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="p-3">
          <%= simple_form_for [@order, @customised_instruction] do |f| %>
            <div class="d-flex justify-content-around align-items-center">
              <%= f.input :name, label: false, placeholder:'Name', wrapper: false  %>
              <%= f.submit "Create new copy", class: "btn btn-outline-dark" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="accordion accordion-flush">
        <h3 class="mt-4 mb-1 text-center"> Sections </h3>
        <% @pattern.categories.each_with_index do |category, index|%>
          <div class="accordion-item">
            <div class="accordion-header">
              <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#category<%=index%>" role="button" aria-expanded="false" aria-controls="category<%=index%>">
                <h3 class="mb-0">
                  <%= category.name %> (<%= category.instructions.length %> steps)
                </h3>
              </div>
            </div>
            <div class="collapse accordion-collapse"  id="category<%=index%>">
              <div class="list-group list-group-flush">
                <% category.instructions.each do |instruction| %>
                  <div class="list-group-item d-flex flex-row align-items-center">
                    <div class="m-2">
                      <%= cl_image_tag instruction.image.key,
                          class: "instruction-thumbnail"
                      %>
                    </div>
                    <div><%= instruction.description[0..40] %>...</div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="pattern-title">
        You need to purchase this pattern in order to see the instructions
      </div>
    <% end %>
  </div>
</div>
