<!DOCTYPE html>
<html>
  <head>
    <title>Thepatternplace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('thread_favicon.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/6c31aa8cbe.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="phone-view-container">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <br><br><br><br>
  </div>
  </body>
</html>
